---
layout: portal
class: cover--cities
coverText: "Grupos WoMakersCode <span>em todo país</span>"
---

<section class="container">
    {% for page in site.pages %}
            {% if page.category contains 'city' %}
                <div class="col-lg-12 col-md-12 container-program container-program--team">
                    <a href="{{ page.url | prepend: site.baseurl | replace: '//', '/' }}">
                        <figure class="speaker-preview__image">
                            <img src="assets/images/wearewomakers.JPG" class="img-fluid">
                        </figure>
                        <h3>{{ page.title }}</h3>
                    </a>
                </div>
            {% endif %}
    {% endfor %}

</section>