---
layout: portal
class: cover--events
coverText: "Próximos <span>eventos</span>"
---

<!-- box content -->

<section class="box-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2>Próximos <span>eventos</span></h2>
            </div>
            {% for block in site.data.calendar.events %}
                <div class="col-lg-4 col-md-4 container-events">
                    <a href="{{ block.url | prepend: site.baseurl }}" target="_blank">
                        <img src="{{ block.banner }}" class="img-fluid" />
    
                        <ul class="container-events__key-info">
                            <li>
                                <h3>{{ block.title }}</h3>
                                <p>
                                    <span>{{ block.city }} - {{ block.state }}</span>
                                    <span>{{ block.hostName }}</span>
                                    <span>{{ block.time }}</span>
                                </p>
                            </li>
                            <li>
                                <p><span>{{ block.month }}</span> {{ block.day }}</p>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- box content -->

<!-- box content -->

<section class="box-content box-content--shade">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2>Conteúdos <span>online</span></h2>
            </div>

            {% for block in site.data.training.training %}
            <div class="col-lg-4 col-md-4 container-events container-events--course">
                <a href="{{ block.url }}" target="_blank">
                    <img src="{{ block.thumb }}" class="img-fluid" />

                    <ul class="container-events__key-info">
                        <li>
                            <h3>{{ block.title }}</h3>
                            <p>
                                <span>{{ block.subtitle }}</span>
                                <span>Duração: {{ block.duration }}</span>
                            </p>
                        </li>
                        <li>
                            <p><span class="testp"><i class="fab fa-youtube"></i> assistir</span></p>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </a>
            </div>
        {% endfor %}            
        </div>
    </div>
</section>

<!-- box content -->