---
layout: default
---

<!-- Page Header -->

<section class="container-fluid team-detail-header">
  <div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1>
        {{ site.title }}
        <span>"{{ site.description }}"</span>
      </h1>
    </div>
  </div>
</section>

<section class="container-fluid ctn_stage1">
<div class="row">
  {% for post in site.posts limit : 8 %}

  <article class="team-preview col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
      <figure class="speaker-preview__image">
        <img src="{{post.photo | prepend: site.baseurl | replace: '//', '/' }}">
      </figure>

      <h2 class="team-preview__name">{{ post.nome }}</h2>
      <ul class="team-preview__list">
        {% if post.squad %}
          <li class="team-preview__squad"><i class="fas fa-bolt"></i> {{ post.squad }}</li>
        {% endif %}
        {% if post.tags %}
          <li class="team-preview__tag"><i class="fas fa-hashtag"></i> {{ post.tags }}</li>
        {% endif %}
        <li><i class="fab fa fa-map-marker-alt"></i> {{ post.local }}</li>
      </ul>
      
    </a>
  </article>

  {% endfor %}
</div>
</section>

<!-- Pager -->
<div class="clearfix"></div>
<a class="btn-contributors" href="{{"/posts" | relative_url }}">Conheça nossa rede</a>
