<!DOCTYPE html>

<html>

  {% include head.html %}

  <body class="loaded" cz-shortcut-listen="true">
      <!-- top header -->
      <section class="header-wrapper style-two bottom-border cover--home">
          {% include navbar.html %}
      </section>
      <!-- top header -->
      
      <section class="container">
          <h1 class="team-preview__name">{{ page.title }}</h1>
          <figure class="speaker-preview__image">
            <img src="/img/posts/01.jpg" class="rounded">
          </figure>
          <ul class="member_profile__social">
            <li><a class="facebook" href="{{ page.facebook }}"><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="twitter" href="{{ page.twitter }}"><i class="fab fa-twitter"></i></a></li>
            <li><a class="instagram" href="{{ page.instagram }}"><i class="fab fa-instagram"></i></a></li>
            <li><a class="linkedin" href="{{ page.linkedin }}"><i class="fab fa-linkedin"></i></a></li>
          </ul>
          {{ content }}

          {% if page.previous.url %}
          <a class="btn-contributors float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}"
            data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Perfil<span class="d-none d-md-inline">
              Anterior</span></a>
          {% endif %}
          {% if page.next.url %}
          <a class="btn-contributors float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}"
            data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Próximo<span class="d-none d-md-inline">
              Perfil</span> &rarr;</a>
          {% endif %}

      </section>
  
      {% include footer.html %}
  
      
  
    </body>

</html>